@use '../../../styles' as *;

.checkbox-container {
  display: flex;
  gap: $gap-8;
  align-items: center;

  .label {
    color: $color-text-primary;
    font-weight: $font-weight-400;
    line-height: $line-height-24;
    font-size: $font-size-18;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    border-radius: $border-radius-4;
    appearance: none;
    border: 1px solid $color-dark;
    outline: none;
    transition: 200ms;

    &:focus-visible {
      border-color: $color-primary;
      cursor: pointer;
    }

    &:checked {
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-primary;

      &::before {
        content: '\2713';
        color: $color-white;
      }
    }

    &:disabled {
      border: 1px solid $color-gray-50;
      appearance: none;
      background-color: $color-gray-50;
      cursor: not-allowed;
    }

    &:disabled + .label {
      color: $color-text-disabled;
      cursor: not-allowed;
    }

    &:hover:enabled {
      border-color: $color-primary;
      cursor: pointer;
    }

    &:hover:enabled + .label {
      cursor: pointer;
    }
  }
}
