@use '../../../styles' as *;

@mixin child {
  background-color: $color-white;
  padding: $padding-24;
  border-radius: $border-radius-12;
}

.layout {
  @include container(#f0f3f5, $max-width: 1440px);

  display: grid;
  gap: $gap-32;
  height: 100%;
  grid-template: 'header' 'aside' 'main';

  @include laptop {
    grid-template:
      [header-left] 'header header' auto [header-right]
      [main-left] 'aside  main' 1fr [main-right] / 400px;
  }

  .header {
    @include child;

    grid-area: header;
  }

  .aside {
    @include child;

    grid-area: aside;
  }

  .main {
    @include child;

    grid-area: main;
  }
}
