@use '../../../styles' as *;

.layout {
  @include container(#f0f3f5, $max-width: 1440px);

  display: grid;
  gap: $gap-32;
  grid-template: 'header' 'aside' 'main';

  @include laptop {
    min-height: 100vh;
    padding-bottom: $padding-32;
    grid-template:
      [header-left] 'header header' auto [header-right]
      [main-left] 'aside  main' 1fr [main-right] / max-content;
  }

  .header {
    grid-area: header;
  }

  .aside {
    grid-area: aside;
    height: fit-content;
  }

  .main {
    grid-area: main;
  }
}
