@use '../../../styles/index.scss' as *;

.user {
  @include container(#f0f3f5, $max-width: 1440px);

  display: grid;
  gap: $gap-32;
  height: 100%;
  grid-template: 'header' 'aside' 'main';

  @include laptop {
    grid-template:
      [header-left] 'header header' auto [header-right]
      [main-left] 'aside  main' 1fr [main-right] / 400px;
  }

  .header {
    grid-area: header;
    background-color: $color-white;
    padding: $padding-12;
  }

  .aside {
    display: grid;
    gap: $gap-24;
    height: fit-content;
    position: sticky;
    top: 0;
    width: 100%;

    @include laptop {
      grid-template-columns: 1fr;
    }
  }

  .main {
    grid-area: main;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-24;
    height: fit-content;
    border-radius: $border-radius-12;
  }
}
