$color-primary: #f37335; /* Vivid Orange-Red */
$color-secondary: #fdb97a; /* Light Coral */
$color-primary-light: #ffedd5; /* Light Coral */
$color-primary-dark: #c0501e; /* Maroon */
$color-text-primary: #2c3e50; /* Dark Grayish Blue */
$color-text-primary-light: #43525f; /* Medium Grayish Blue */
$color-text-primary-dark: #192f40; /* Charcoal Blue */
$color-white: #fff; /* White */
$color-link: #3498db; /* Bright Blue */
$color-link-light: #dbeafe; /* Sky Blue */
$color-link-dark: #2979bd; /* Royal Blue */
$color-dark: #262626;
$color-transparent: transparent;

// Font styles
$font-family: 'Poppins', sans-serif;
$font-size-body1: 1.6rem;
$font-size-body2: 1.4rem;
$font-size-h1: 4.8rem;
$font-size-h2: 3.6rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;
$font-size-12: 1.2rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Spacing
$spacing-4: 0.4rem;
$spacing-8: 0.8rem;
$spacing-12: 1.2rem;
$spacing-16: 1.6rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-28: 2.8rem;
$spacing-32: 3.2rem;
$spacing-36: 3.6rem;
$spacing-40: 4rem;
$spacing-44: 4.4rem;
$spacing-48: 4.8rem;

// Padding
$padding-4: 0.4rem;
$padding-8: 0.8rem;
$padding-12: 1.2rem;
$padding-16: 1.6rem;
$padding-20: 2rem;
$padding-24: 2.4rem;
$padding-28: 2.8rem;
$padding-32: 3.2rem;
$padding-36: 3.6rem;
$padding-40: 4rem;
$padding-44: 4.4rem;
$padding-48: 4.8rem;
