@use '../../../styles/constants' as *;

.input-group {
  border: 1px solid $color-dark;
  border-radius: 12px;
  padding: $padding-12 $padding-16;
  width: 100%;
  display: flex;
  gap: 10px;

  &:focus-within {
    border-color: $color-primary;
  }
}

.input {
  width: 100%;
  outline: none;
  border: none;
  font-size: $font-size-16;
}
