@use 'sass:map';
@use '../../../styles' as *;

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-text-primary-light;
}

.default {
  color: $color-text-primary;
}

.error {
  color: $color-primary-dark;
}

$font-sizes: (
  '1': clamp($font-size-36, 5.5vw, $font-size-48),
  '2': clamp($font-size-24, 3.5vw, $font-size-36),
  '3': clamp($font-size-16, 3.5vw, $font-size-24),
  '4': clamp($font-size-18, 3.5vw, $font-size-20),
  '5': clamp($font-size-16, 3.5vw, $font-size-18),
  '6': clamp($font-size-12, 3.5vw, $font-size-16),
);

@for $i from 1 through 6 {
  .heading#{$i} {
    font-size: map.get($font-sizes, '#{$i}');
  }
}

.paragraph {
  font-size: clamp($font-size-16, 3.5vw, $font-size-18);
  font-weight: $font-weight-400;
  line-height: $line-height-16;
}

.span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
