@use '../../../styles' as *;

.global-education-section {
  .container {
    @include container;

    margin-top: $margin-48;
    margin-bottom: $margin-48;
    padding: $padding-72 $padding-0;
    display: flex;
    flex-direction: column;
    gap: $gap-40;

    @include laptop {
      gap: $gap-0;
    }

    &--body {
      display: grid;

      @include tablet {
        grid-template-columns: 1fr 1fr;
        gap: $gap-32;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap-24;
      }

      .image-content {
        height: 100%;
        width: 100%;

        @include tablet {
          order: 2;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
