@use '../../../styles/constants' as *;
@use '../../../styles/mixins' as m;

.hero {
  position: relative;
  height: 768px;

  &-background {
    background-image: url('../../../assets//Hero_background.svg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 960px;
    height: 424px;
    z-index: -1;
  }
}
