@use '../../../styles' as *;

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fffc;
}

.nav {
  @include container;

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-24;
  margin: auto;

  .logo {
    font-size: $font-size-24;
    font-weight: $font-weight-700;
    display: flex;
    align-items: center;
    gap: $gap-8;
    z-index: 999;
  }

  .menu-tablet {
    display: none;
  }

  .menu-cta {
    z-index: 999;
  }

  .menubar {
    .menu {
      display: flex;
      gap: $gap-24;
      align-items: center;
      justify-content: center;

      &__item {
        font-size: $font-size-16;
        font-weight: $font-weight-500;
        color: $color-text-primary;

        &:hover,
        &:active,
        &:focus,
        &--active {
          color: $color-primary;
          outline: none;
        }
      }
    }
  }

  .menu-mobile {
    @media screen and (width <= 768px) {
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $gap-24;
      background-color: $color-white;

      .menu {
        flex-direction: column;
      }
    }
  }

  @include tablet {
    .menu-mobile,
    .menu-cta {
      display: none;
    }

    .menu-tablet {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gap-24;
      background-color: $color-transparent;

      .menu {
        flex-grow: 1;
      }
    }
  }
}
